@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
:root {
    --success-color: rgb(0, 255, 0);
    --error-color: rgb(255, 0, 0);
}

h2 {
    text-align: center;
    margin: 0 0 20px;
}

.signup-signup-title {
    color: rgb(13, 45, 46);
    font-size: 35px !important;
    font-weight: 750;

}

.signup-form-control { /* Inner Box */
    padding: 10px 10px;
    background-color: rgba(54, 159, 167, 0.8);
   /* box-shadow: 0 2px 2px rgb(26, 25, 25, 0.5); */
   /* border-radius: 5px; */
    text-align: center;
}
}
.signup-form-control label {
    color: rgb(255, 255, 255);
    display: block;
    margin-bottom: 5px;
}

.signup-form-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
}

.signup-form-control input:focus {
    outline: 0;
    border-color: #777;
}

.signup-form-control.success input {
    border-color: var(--success-color);
}

.sign-upform-control.error input {
    border-color: var(--error-color);
}

.signup-form-control small {
    color: var(--error-color);
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.signup-form-control.error small {
    visibility: visible;
}

.signup-form button {
    cursor: pointer;
    background-color: #3498db;
    border: 2px solid;
    border-radius: 1px;
    color: white;
    display: block;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
}

.signup-form button:hover {
    background-color: rgb(243, 6, 6);
    transition: 1s ease;
}

#signup-intro {
    background-image: url(../Images/signup/bg.jpg); 
    padding: 30px 510px;
    border-radius: 0px 5px 5px 0px;
    -webkit-border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    -ms-border-radius: 0px 5px 5px 0px;
    -o-border-radius: 0px 5px 5px 0px;
    color: white;
}


@media(max-width:768px) {
    #signup-intro {
        visibility: hidden;
        display: none;
    }
}

#signup-intro-form {  /* Outer Box */
    padding: 10px 10px;
        background-color: rgba(68, 144, 150, 0.8);
        box-shadow: 0 2px 2px rgb(26, 25, 25, 0.5);
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        text-align: center; 
    }

    
  /* background-image: url(../Images/signup/bg.jpg);
   box-shadow: 0 2px 2px rgb(26, 25, 25, 0.5);
    padding: 30px 10px;
    border-radius: 5px 0px 0px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 0px 0px 5px;
    -ms-border-radius: 5px 5px 5px 5px;
    -o-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    color: black; */
}

.row.display-flex {
    display: flex;
    flex-wrap: wrap;
}

.row.display-flex>[class*='col-'] {
    display: flex;
    flex-direction: column;
}
.login {
    text-decoration: none;
    font-weight: bolder;
    color: rgb(176, 248, 117);
}

.login:hover {
    text-decoration: underline;
    color: rgb(243, 75, 33);
}